.mmap{ max-width:600px; min-width:600px; margin:auto; position:relative }

.mmap svg {  }
.mmap svg path{fill: #525252;  stroke: #bfbdbd;stroke-miterlimit:10;stroke-width:1px;}

.mmap svg .group polygon,
.mmap svg .group path{ 
	fill:#fff; opacity:0.8
	}
	
.mmap svg .group.marker polygon, 
.mmap svg .group.marker path{  
	opacity:0.3;
	}

.mmap svg .group:hover, 
.mmap svg .group:hover polygon,
.mmap svg .group:hover path { 
	fill:#ec9090; opacity:0.6; cursor:pointer;
	}


.mmap svg .group,
.mmap svg .group polygon,
.mmap svg .group path{ 
qtransition-property: all;
	transition-duration: 0.1s;
	transition-timing-function: ease;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-timing-function: ease;
	-moz-transition-property: all;
	-moz-transition-duration: 0.1s;
	-moz-transition-timing-function: ease;
	}



.mmap svg .text{ font-size:1.2em; font-family: 'Open Sans', 'verdana';     fill: #fff;}


.mmap .popup-wraper{ display:block; position:absolute; width:280px; min-height:100px; max-height:300px; display:none;
    box-sizing: border-box;  padding: 10px;  border-radius: 32px;  	 -webkit-border-radius: 32px;
    background: rgba(0, 0, 0, 0.6); z-index:100}
.mmap .popup-wraper.asia{ left:18%; top:22%}
.mmap .popup-wraper.europe{left:6%; top:15%;}
.mmap .popup-wraper.africa{right:51%; bottom:22%;}
.mmap .popup-wraper.australia{right: 21%;    bottom: 31px;}
.mmap .popup-wraper.namerica{left:23%; top:17%;}
.mmap .popup-wraper.samerica{left:36%; bottom:11%;}

.mmap .popup-wraper:after{ content: ""; display: block; position: absolute; width: 0; height: 0; left: 100%; top: 66px;
    border-top: 15px solid transparent; border-left: 10px solid rgba(0, 0, 0, 0.3); border-bottom: 15px solid transparent; }
.mmap .popup-wraper.australia:after{ top:auto; bottom:50px; }
.mmap .popup-wraper.africa:after{ top:auto; bottom:50px; }
.mmap .popup-wraper.namerica:after{ border-right: 10px solid rgba(0, 0, 0, 0.3); border-left:none; left:auto; right:100%  }
.mmap .popup-wraper.samerica:after{ border-right: 10px solid rgba(0, 0, 0, 0.3); border-left:none; left:auto; right:100%; top:auto; bottom:50px  }

.mmap .popup-wraper .popup-block{ padding:5px; box-sizing:border-box; max-height:100%; overflow:auto;}
.mmap .popup-wraper .blog-post{ box-sizing:border-box; display: block;     height: 80px;    border-radius: 40px;    -webkit-border-radius: 40px;
    background: rgba(0, 0, 0, 0.5);     position: relative;    text-decoration: none; position:relative; color:#FFFFFF; text-decoration:none; margin:10px 0}
.mmap .popup-wraper .blog-post:hover{     background: rgba(255, 89, 0, 0.41);}
.mmap .popup-wraper .blog-post .blog-img{display: block; height: 70px;  width: 70px; background-color:#000;  border-radius: 50%;     
	-webkit-border-radius: 50%;  background-repeat: no-repeat; background-position: center;  background-size: cover; position: absolute;
    top: 0;     bottom: 0;     margin: auto;     left: 5px;}
.mmap .popup-wraper .blog-post .blog-country{ display: block; position: absolute; left: 90px; top: 10px;  text-transform: uppercase;
    font-size: 14px;}    
.mmap .popup-wraper .blog-post .blog-title{ display: block; position: absolute; left: 90px; top: 32px; text-transform: uppercase;
    font-size: 16px;     font-weight: bold;}  
.mmap .popup-wraper .read-more{    width: 80px; height: 26px; line-height: 26px;  font-size: 14px; padding: 5px 10px;
    color: #ffffff; border: 1px solid #ffffff; text-decoration: none; font-weight: 600; border-radius: 40px;
    -webkit-border-radius: 40px; display: block; margin: 10px;  position: relative; float: right; text-align: center; } 
.mmap .popup-wraper .read-more:hover{ background:#000}

.mmap .popup-wraper .title-block{color: #fff; text-transform: uppercase; padding: 5px 10px 0; font-size: 16px;}
.mmap .popup-wraper .close-block  { width:20px; height:20px; position:absolute; top:15px; right:15px;   border-radius: 50%;     
	-webkit-border-radius: 50%; cursor:pointer;   }

.mmap .popup-wraper .close-block:before, .mmap .popup-wraper .close-block:after{ content: ""; position: absolute; display: block;
    height: 60%; width: 5px; background: #fff;  top: 0; bottom: 0; margin: auto; left: 0; right: 0; box-sizing: border-box;
	}
.mmap .popup-wraper .close-block:before{ 
    -webkit-transform: skewX(45deg);
    transform: skewX(45deg);
	}
.mmap .popup-wraper .close-block:after{ 
	 -webkit-transform: skewX(-45deg);
    transform: skewX(-45deg);} 	


@media only screen and (min-width: 960px){
	
.mmap{ max-width:930px;}	
.mmap .popup-wraper{ width:30%;}
.mmap .popup-wraper.asia{ left:36%; top:35%}
.mmap .popup-wraper.europe{left:20%; top:32%}
.mmap .popup-wraper.africa{ right: 51%; bottom: 20%;}
.mmap .popup-wraper.australia{right:21%; bottom:10%;}
.mmap .popup-wraper.samerica{left:36%; bottom:16%;}
.mmap .popup-wraper.namerica{left:23%; top:31%;}


}
