@import url("reset.css");
@import url("helper.css");
@import url("../fonts/OpenSans/OpenSans.css");



HTML, BODY{ height:100%;}
BODY{ min-width:320px;  margin:auto; font-family: 'Open Sans'; line-height:1.5em; font-size:14px;}
.body-flex-container{ height:100%; display: flex; display:-webkit-flex;    flex-direction: column; -webkit-flex-direction: column;}
.body-flex-content{ flex:1; -webkit-flex:1; position:relative;}
.body-flex-footer{  }


.wrapper{ padding:0 20px;}

HEADER{ position:absolute; top:0; width:100%; z-index:1000  }
HEADER *{ position:relative;  }
HEADER .wrapper{ padding-top:12px; padding-bottom:12px;}

.header{   height:68px; }
.header .logo{position:absolute; top:0; bottom:0; left:-7px; margin:auto; width:68px; height:68px; background-image:url(../images/logo-68.png); background-position:center; background-repeat:no-repeat;}
.header .logo a{ display:block; width:100%; height:100% }

.header .mobile-menu-button{position:absolute; top:0; bottom:0; right:0; margin:auto; width:35px; height:25px;}
.header .mobile-menu-button a{display:block;  width:100%; height:100%}
.header .mobile-menu-button span{display:block; width:100%; height:5px; background:#bcb175; position:absolute; top:0; bottom:0; margin:auto;}
.header .mobile-menu-button span:before, .header .mobile-menu-button span:after{ 
	content:""; position:absolute; display:block; width:100%; height:5px; background:#bcb175;
	}
.header .mobile-menu-button span, .header .mobile-menu-button span:before, .header .mobile-menu-button span:after{
	border-radius:10px;-webkit-border-radius:10px; 
	}	
.header .mobile-menu-button span:before{top:-10px;}
.header .mobile-menu-button span:after{top:10px;}

.header-menu-wrap{ display:none}


.slider{ width:100%;}
.slide-img{ background-position:center; background-repeat:no-repeat; background-size:cover; width:100%; height:670px;}



FOOTER{background-color:#252525; padding:27px 0; }
.footer{ width:230px; margin:auto;    font-size:14px; line-height:18px; text-align:center; color:#fff}
.footer *{ text-align:center; color:#fff; text-decoration:none}
.footer .f-col{ padding-top:20px;}
.footer .f-row{ padding-top:20px;}
.footer h3{ font-weight: bold}

/*********************/
.social-links{ display: flex; display:-webkit-flex;  justify-content:space-between; -webkit-justify-content:space-between; align-items:center; -webkit-align-items:center; padding:25px 0; width:220px  }
.social-links .social-ico{ display:block; width:50px; height:50px; }
.social-links .social-ico.fb{ background-position:-4px 0;}
.social-links .social-ico.in{ background-position:-64px 0;}
.social-links .social-ico.yt{ background-position:-124px 0;}


/*******************/
.ico-sprite{ background-image:url(../images/ico-sprite.png); background-repeat:no-repeat;}


@media only screen and (min-width: 440px){

}

@media only screen and (min-width: 600px){

}

@media only screen and (min-width: 760px){

}

@media only screen and (min-width: 960px){

}

@media only screen and (min-width: 1240px){

}

@media only screen and (min-width: 1320px){

}


