/* CSS Document */


.over-container{position:fixed; top:0; left:0; height:100%; width:100%; background-color:#010101;   background-repeat:no-repeat; background-position: center; background-size:cover; z-index:9000; display:none;   overflow:auto}

.over-container.filter{ background-color:rgba(1, 1, 1, 0.75); background-image:none;}
.over-container.menu{ background-image:url(../images/mobile-menu-bg-2.jpg); background-color:none;}

.overheight-close{ width:20px; height:22px; position:absolute; top:20px; right:20px;}

.overheight-close:before, .overheight-close:after{ 
	content:""; position:absolute; display:block; height:100%; width:5px; background:#fff;
	}
.overheight-close:before{ 
    -webkit-transform: skewX(45deg);
    transform: skewX(45deg);
	}
.overheight-close:after{ 
	 -webkit-transform: skewX(-45deg);
    transform: skewX(-45deg);} 	

.over-content{height:100%; min-height:400px; overflow:auto; display: flex; display:-webkit-flex; justify-content:center; -webkit-justify-content:center; align-items:center; -webkit-align-items:center; flex-direction:column; -webkit-flex-direction:column; }	

.over-content .header-menu{  display:-webkit-flex; justify-content:center; -webkit-justify-content:center; align-items:center; -webkit-align-items:center; 
    flex: 1; -webkit-flex: 1; }
.over-content .header-menu ul{ list-style:none; padding:0; margin:0;}
.over-content .header-menu ul li{ text-align:center;}
.over-content .header-menu ul li.menu-item-102{ display:none}
.over-content .header-menu ul li a{ text-decoration:none; color:#FFFFFF; font-size:18px; line-height:52px;}




@media only screen and (min-width: 480px) {
}